@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Raleway|Amiri&display=swap');

/* fonts */
.fontRobotoCondensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.fontAmiri, .font-note-title {
    font-family: 'Amiri', serif;
}

.fontRaleway {
    font-family: 'Raleway', sans-serif;
}

/* defaults */
html, body, #app {
    height: 100%;
    color: #D6DADF;
    background-color: #000;
}

/* theme */
.theme-background {
    color: #fff;
    background-color: #60AC9E;
}

.theme-color {
    color: #60AC9E;
}

/* router */
.router-link {
    border-bottom: 3px solid #000;
}

.router-link-active {
    border-bottom: 3px solid #60AC9E;
}

/* container */
#container-player {
    position: fixed;
    top: -200px;
}

.container-content {
    margin-top: 55px;
}